/* TITLE */
.header {
  display: flex;
  color: #000;
}

.header:before,
.header:after {
  content: '';
  margin: auto 1em;
  border-bottom: solid 2px;
  flex: 1;
}

.title {
  position: relative;
  padding: 0.25em 1em;
  overflow: hidden;
  background: linear-gradient(#000, #000) no-repeat top center, linear-gradient(#000, #000) no-repeat bottom center;
  background-size: calc(100% - 1.7em) 2px;
}

.title:before,
.title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 2px;
  border-top: none;
  border-bottom: none;
  transform: skew(45deg)
}

.title:after {
  transform: skew(-45deg)
}


/* SLIDE */
.img-slide img {
  /* border-radius: 12px; */
  height: 600px;
  width: 100%;
}

/* Mobile */
@media only screen and (max-width:46.1875em) {
  .img-slide img {
    /* border-radius: 12px; */
    height: 250px;
    width: 100%;
  }
}

/* Tablet */
@media only screen and (min-width:46.25em) and (max-width: 63.9375em) {
  .img-slide img {
    /* border-radius: 12px; */
    height: 480px;
    width: 100%;
  }
}

.name-product {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.BreadCrumb {
  /* margin-left: 50px; */
  padding: 4px 0 8px 0;
}

.BreadCrumb:hover {
  color: #ff5722;
  font-weight: bold;
}



.text-login:hover {
  color: rgb(29, 202, 144)
}

.text-nav:hover {
  /* opacity:0.5 */
  color: #ff680a
    /* color: #f0f0f0 */
}

.text-form {
  color: #479e56
}

.text-form:hover {
  color: blue
}

.product-card {
  transition: 0.8s;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  transform: scale(1.06);
}

.img-card,
.hover-related,
.hover-slide {
  transition: 0.8s;
}

.img-card:hover {
  transform: scale(1.14);
}

.hover-related:hover,
.hover-slide:hover {
  transform: scale(0.9);
}

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 24px;
  padding-bottom: 30px;
  font-weight: bold;
}

/* Mobile */
@media only screen and (max-width:46.1875em) {
  .modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 24px;
    padding-bottom: 30px;
    font-weight: bold;
    overflow: scroll
  }
}

/* Tablet */
@media only screen and (min-width:46.25em) and (max-width: 63.9375em) {
  .modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 24px;
    padding-bottom: 30px;
    font-weight: bold;
  }
}

/* Nút Show All */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-showAll {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-showAll span {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-showAll span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-showAll span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-showAll:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-showAll:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}